# Git files
.git/
.github/
.gitignore

# VS Code
*.code-workspace
.snippets

# VS Code extension
*.vsix
.vscodeignore

# Model Weights
weights/
*.weights
*.pt
*.pb
*.onnx
*.engine
*.mlmodel
*.mlpackage
*.torchscript
*.tflite
*.h5
*_saved_model/
*_web_model/
*_openvino_model/
*_paddle_model/
*_ncnn_model/
pnnx*

# Media files
images.png

# Private files
.env

# Virtual environments
.venv

# Python files
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
pyproject.toml
*.py
uv.lock
.python-version

